numexpr==2.10.2
executing==2.1.0
tensorflow==2.18.0
tables==3.10.2
pexpect==4.9.0
absl-py==2.1.0
pandas==2.2.3
llvmlite==0.44.0
decorator==5.1.1
filelock==3.16.1
idna==3.10
gseapy==1.1.4
traitlets==5.14.3
tensorflow-io-gcs-filesystem==0.37.1
nest-asyncio==1.6.0
Markdown==3.7
kiwisolver==1.4.8
scikit-learn==1.6.0
pip==24.3.1
ptyprocess==0.7.0
pillow==11.1.0
legacy-api-wrap==1.4.1
fonttools==4.55.3
protobuf==5.29.2
parso==0.8.4
scipy==1.15.0
ipython==8.31.0
umap-learn==0.5.7
setuptools==75.6.0
astunparse==1.6.3
stdlib-list==0.11.0
tf-utils==1.0.4
flatbuffers==24.12.23
msgpack==1.1.0
opt_einsum==3.4.0
google-pasta==0.2.0
scanpy==1.10.4
requests==2.32.3
h5py==3.12.1
natsort==8.4.0
wrapt==1.17.0
markdown-it-py==3.0.0
seaborn==0.13.2
h11==0.14.0
GitPython==3.1.44
networkx==3.4.2
jedi==0.19.2
joblib==1.4.2
patsy==1.0.1
gast==0.6.0
jupyter_client==8.6.3
ndindex==1.9.2
rich==13.9.4
pynndescent==0.5.13
asttokens==3.0.0
tqdm==4.67.1
urllib3==2.3.0
ml-dtypes==0.4.1
click==8.1.8
pyzmq==26.2.0
appnope==0.1.4
loompy==3.0.8
numpy-groupies==0.11.2
numpy==2.0.2
umap==0.1.1
stack-data==0.6.3
Jinja2==3.1.5
threadpoolctl==3.5.0
Werkzeug==3.1.3
psutil==6.1.1
jupyter_core==5.7.2
fsspec==2024.12.0
anyio==4.8.0
gitdb==4.0.12
sniffio==1.3.1
blosc2==3.0.0
matplotlib==3.10.0
mdurl==0.1.2
python-dateutil==2.9.0.post0
mpmath==1.3.0
torch==2.5.1
pytz==2024.2
charset-normalizer==3.4.1
wcwidth==0.2.13
packaging==24.2
termcolor==2.5.0
grpcio==1.69.0
libclang==18.1.1
pydantic_core==2.27.2
httpcore==1.0.7
prompt_toolkit==3.0.48
cycler==0.12.1
wheel==0.45.1
pydantic==2.10.4
comm==0.2.2
statsmodels==0.14.4
pure_eval==0.2.3
namex==0.0.8
tornado==6.4.2
tensorboard==2.18.0
pyparsing==3.2.1
docker-pycreds==0.4.0
contourpy==1.3.1
sentry-sdk==2.19.2
sympy==1.13.1
py-cpuinfo==9.0.0
numba==0.61.0
typing_extensions==4.12.2
PyYAML==6.0.2
httpx==0.28.1
matplotlib-inline==0.1.7
smmap==5.0.2
session_info==1.0.0
tensorboard-data-server==0.7.2
wandb==0.19.2
tzdata==2024.2
optree==0.13.1
typing==3.7.4.3
platformdirs==4.3.6
ipykernel==6.29.5
keras==3.7.0
array_api_compat==1.10.0
setproctitle==1.3.4
annotated-types==0.7.0
certifi==2024.12.14
debugpy==1.8.11
anndata==0.11.3
six==1.17.0
Pygments==2.18.0
MarkupSafe==3.0.2
genenetweaver==0.1
